# System
ENV=dev
LOG__LEVEL=DEBUG

# OpenAI Settings
OPENAI__API_KEY=sk-proj-...

# Langfuse
LANGFUSE__PUBLIC_KEY=pk-lf-...
LANGFUSE__SECRET_KEY=sk-lf-...
LANGFUSE__HOST=https://langfuse-web-production-2b9b.up.railway.app

# Meta
META__VERIFY_TOKEN="your_verify_token"
META__APP_ID="your_app_id"
META__APP_SECRET="your_app_secret"
META__ACCESS_TOKEN="your_access_token"
META__PHONE_NUMBER_ID="your_phone_number_id"

# OTEL
OTEL_SERVICE_NAME=endeavor
OTELPYTHON_LOG_CORRELATION=True
OTEL__ENDPOINTS=https://langfuse-web-production-2b9b.up.railway.app/api/public/otel
OTEL__ENABLE=False

# WRITER PROMPT
PROMPT__WRITER__NAME=writer-instructions
PROMPT__WRITER__LABEL=production

# RESEARCHER PROMPT
PROMPT__RESEARCHER__NAME=researcher-instructions
PROMPT__RESEARCHER__LABEL=production

# Redis
REDIS__URL=redis://localhost:6379/0

# Mongo
MONGODB__URL=